.wraprelated {
  margin-bottom: 2rem

  .DiscussionListItem-title.related {
      padding-top: 2rem;
      padding-bottom: 1rem;
      font-weight: bold;
      color: #e7662e
      i {
          margin-right: 1rem;
          color: #e7662e;
      }
  }

  .related-discussions {

  }

  .separator-related {
    list-style: none;
  }

}